    <!-- Required/relevant angular here --> 
	</head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/home">CMU Outdoor Program</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="customers">Customers</a></li>
            <li><a href="inventory">Inventory</a></li>
            <li><a href="events">Events</a></li>
            <li><a href="employees">Employees</a></li>
            <li><a href="schedule">Schedule</a></li>
            <li><a href="reports">Reports</a></li>
            <li><a href="settings">Settings</a></li>
            <li><a href="logout">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Hello, CMU OP</h1>
      </div>

      <div class="page-header">
        <h1>Test Buttons</h1>
      </div>
      <p>
        <button type="button" class="btn btn-lg btn-default">Not Authenticated</button>
        <button type="button" class="btn btn-lg btn-primary">Authenticated</button>
      </p>