	<script src="../node_modules/angular/inventory/inventoryController.js"></script>
	</head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/home">CMU Outdoor Program</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="customers">Customers</a></li>
            <li><a href="inventory">Inventory</a></li>
            <li><a href="events">Events</a></li>
            <li><a href="employees">Employees</a></li>
            <li><a href="schedule">Schedule</a></li>
            <li><a href="reports">Reports</a></li>
            <li><a href="settings">Settings</a></li>
            <li><a href="logout">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

	<div class="container theme-showcase" role="main">

	<div ng-app="inventoryApp" ng-controller="inventoryCtrl">
		<h4>Select inventory group to search:</h4>
        <div class="radio.inline">
            <label>
                <input type="radio" name="collection" value="boat" ng-model="radioGroup.value" ng-change="radioGroupChange()">
                Boats
            </label>
            <label>
                <input type="radio" name="collection" value="bike" ng-model="radioGroup.value" ng-change="radioGroupChange()">
                Bikes
            </label>
            <label>
                <input type="radio" name="collection" value="tent" ng-model="radioGroup.value" ng-change="radioGroupChange()">
                Tents
            </label>
            <label>
                <input type="radio" name="collection" value="climbing" ng-model="radioGroup.value" ng-change="radioGroupChange()">
                Climbing
            </label>
        </div>
        <br>
        
        <h4>Search group by: </h4>
		<div class="radio.inline">
			<label>
				<input type="radio" name="searchBy" value="name" ng-model="radioBy.value" ng-change="radioByChange()">
				Name
			</label>
			<label>
				<input type="radio" name="searchBy" value="type" ng-model="radioBy.value" ng-change="radioByChange()">
				Type
			</label>
			<label>
				<input type="radio" name="searchBy" value="cost" ng-model="radioBy.value" ng-change="radioByChange()">
				Cost
			</label>
        </div>

        <br>
		Find: <input type="text" 
				ng-change="change()" 
				ng-model="searchField" 
				placeholder="Type to search."><br>
		<br>
		
		<table class="table" title="Search Results">
			<tr ng-repeat-start="n in details" ng-if="$first">
				<th ng-repeat="(key, value) in n" ng-if="!$first">{{key}}</th>
			</tr>
			<tr ng-repeat-end="n in details">
				<td>{{n.name}}</td><td>{{n.type}}</td><td>{{n.cost}}</td>
			</tr>
		</table>

	</div>
	</div>